
body {
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comic Sans MS";
}

h1 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
}

p {
  font-family: "Courier New";
}

span {
  font-family: "Courier New";
}

section {
  margin-top: 50px;
}

.header {
  text-align: center;
}


.dropdown-custom {
  margin-top: 2em;
}


#project-title {
  color: #E75D6E;
}

#course-title {
  color: #516690;
}

.section-title {
  color: #516690;
}

.plot-description {
  margin: 20px;
}

.airbnb-span {
  color: #E75D6E;
  font-weight: 700;
  font-style: oblique;
}